* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 22px;
    width: 22px;
    position: fixed;
    background-color: #afe029;
    border-radius: 50%;
    z-index: 101;
    transition: top .3s cubic-bezier(0.35, 0.72, 0.265, .9), left .3s cubic-bezier(0.35, 0.72, 0.265, .9), scale .5s cubic-bezier(0.35, 0.72, 0.265, .9), background-color .2s cubic-bezier(0.35, 0.72, 0.265, .9), outline .2s cubic-bezier(0.35, 0.72, 0.265, .9);
    pointer-events: none;
}

#c-blur {
    /* border: 2px solid red; */
    height: 300px;
    width: 300px;
    /* opacity: .8; */
    position: fixed;
    /* background-image: radial-gradient(#c5ff25a0 1%, transparent 60%); */
    background-color: #c5ff25e0;
    filter: blur(150px);
    border-radius: 50%;
    z-index: 1;
    transition: top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94), left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    pointer-events: none;
}

@media (hover: none) {

    #cursor,
    #c-blur {
        display: none;
    }
}

#nav {
    display: flex;
    gap: 4rem;
    width: 100%;
    align-items: center;
    padding: 2rem 7rem;
    /* background-color: #000; */
    text-transform: uppercase;
    color: #fff;
    position: fixed;
    z-index: 100;

    /* cursor: default; */
    img {
        height: 75px;
        transition: scale .3s ease-out;

        &:hover {
            cursor: pointer;
            scale: .9;
        }
    }

    h4 {
        font-weight: 500;
        transition: color .3s ease-out;

        &:hover {
            cursor: pointer;
            /* color: #000; */
        }
    }
}

body>img {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    object-fit: cover;
    position: fixed;
    top: 0;
    z-index: -1;
    /* fill: #000; */
}

#main {
    /* border: 2px solid red; */
    /* height: 100%;
    width: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: default;

    &>* {
        z-index: 2;
    }
}

#page1 {
    /* border: 2px solid red; */
    height: 100vh;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;

    &>* {
        /* border: 2px solid red; */
        text-align: center;
    }

    h1 {
        font-size: 130px;
        font-weight: 900;
        line-height: 110px;
        position: relative;

        /* text-shadow: -4px -4px 0 #000, -4.75px -4.75px 0 #95c11e; */
        &::before {
            content: "EAT. DRINK. PLAY.";
            position: absolute;
            color: #000;
            left: -8px;
            top: -4px;
            z-index: -1;
            -webkit-text-stroke: 1px #c5ff25;
        }
    }

    h4 {
        margin-top: 2rem;
        font-size: 33px;
        font-weight: 900;
    }

    p {
        margin-top: 1.5rem;
        padding: 0 5rem;
        font-size: 20px;
    }
}

#page2 {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#scroller {
    /* border: 2px solid red; */
    text-transform: uppercase;
    display: inline-flex;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    div {
        display: inline-flex;
        gap: 5rem;
        padding: 0 2.5rem;
        animation: scroll 30s linear infinite;

        h4 {
            font-size: 130px;
            /* -webkit-text-stroke: 1px #c5ff25; */
            color: black;
            text-shadow: 1px 1px 0 #c5ff25, -1px 1px 0 #c5ff25, 1px -1px 0 #c5ff25, -1px -1px 0 #c5ff25;
            /* text-shadow: 0 0 1px #c5ff25; */
            font-weight: 900;
            transition: all .5s ease;

            &:hover {
                color: #c5ff25;
                text-shadow: none;
            }
        }
    }
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }
}

#about {
    display: flex;
    flex-direction: column;
    color: #fff;
    /* border: 2px solid red; */
    position: relative;
    padding: 1rem 3rem;
    height: 65vh;
    justify-content: center;
    margin-top: 7rem;

    img {
        width: 20%;
        border-radius: 10px;
    }
}

#about_extremes {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#about_center {
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 0;
    width: 50%;
    align-self: center;
    text-align: center;

    &>* {
        /* border: 2px solid red; */
    }

    h4 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 900;
    }

    p {
        font-size: 20px;
        line-height: 40px;
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    margin-top: 2rem;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

#card-container {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 0 3rem;

    img {
        width: 12%;
        position: absolute;
        top: -4rem;
        left: 6%;
        z-index: -1;
    }
}

.card {
    /* border: 2px solid red; */
    width: 28%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    &>div {
        /* border: 2px solid red; */
        height: 100%;
        width: 100%;
        background-color: #c5ff25;
        padding: 1rem;
        position: relative;
        z-index: 1;
        display: flex;
        opacity: 0;
        flex-direction: column;
        /* justify-content: center; */
        /* padding-top: 10rem; */
        gap: 2rem;
        /* align-items: center; */
        transition: opacity .4s ease;

        h4 {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 900;
            margin-top: 6rem;
            width: 80%;
        }

        p {
            font-size: 18px;
            line-height: 30px;
        }

        &:hover {
            opacity: 1;
        }

        &:hover #card-btn {
            scale: 1.2;
        }
    }

    &>h4 {
        /* border: 2px solid red; */
        position: absolute;
        bottom: 2%;
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 1rem 2rem;
        width: 80%;

        span{
            font-size: 20px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.108);
    }
}

#card-btn {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    top: -20px;
    right: -20px;
    transition: scale .5s ease-out, background-color .2s ease-in-out, color .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #fff;
    }

    &:hover svg {
        color: #c5ff25;
    }
}

#card-1 {
    background-image: url(./card_1.avif);
}

#card-2 {
    background-image: url(./card_2.avif);
}

#card-3 {
    background-image: url(./card_3.avif);
}

#green{
    /* border: 2px solid red; */
    display: flex;
    height: 45vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top right, #c5ff25, #348700);
    img{
        height: 100%;
        width: 12%;
        object-fit:cover;
        padding: 0 1rem;
    }
    div{
        width: 50%;
    }
    h3{
        text-transform: uppercase;
        font-size: 30px;
        line-height: 50px;
        font-weight: 900;
        text-align: center;
    }
}

#slider{
    /* border: 2px solid red; */
    display: flex;
    height: 80vh;
    width: 100%;
    position: relative;
    &>img {
        /* border: 2px solid red; */
        width: 12%;
        position: absolute;
        bottom: 3rem;
        left: 8rem;
        z-index: -1;
    }
}
#slider_left{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
    align-items: center;
    /* justify-content: center; */
    padding-left: 3rem;
    img{
        /* border: 2px solid red; */
        height: 80%;
        width: 80%;
        object-fit: cover;
        border-radius: 20px;
    }
}
#dot-container{
    display: flex;
    /* border: 2px solid red; */
    padding: .5rem;
    gap: 1rem;
    align-items: center;
}
.dot{
    /* border: 2px solid red; */
    height: 12px;
    width: 12px;
    display: flex;
    border-radius: 50%;
    background-color: gainsboro;
    /* margin: 0 .5rem; */

}
.active{
    display: flex;
    margin: 0;
    height: 32px;
    width: 32px;
    background-color: transparent;
    /* scale: 2.5; */
    svg{
        color: #89b11b;
        height: 100%;
        width: 100%;
    }
}
#slider_right{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: .5rem 3rem;
    width: 45%;
    /* align-items: center; */
    /* justify-content: center; */
    h1{
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 900;
    }
    p{
        font-size: 20px;
        line-height: 40px;
        width: 90%;
    }
}

#page4{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    min-height: 100vh;
    width: 100%;
    gap: 5rem;
}
#reviews{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 80vh;
    &>*{
        /* border: 2px solid red; */
    }
    img{
        width: 5%;
        position: absolute;
    }
    p{
        width: 65%;
        color: #fff;
        font-size: 30px;
        font-weight: 800;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
    }
}
#colon-1{
    top: 10%;
    left: 13%;
}
#colon-2{
    bottom: 10%;
    right: 13%;
}

#wait-div{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 4rem;
    &>*{
        width: 90%;
        /* border: 2px solid red; */
    }
    h1{
        /* color: #fff; */
        font-size: 75px;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
        position: absolute;
        z-index: -1;
        top: 0;
    }
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.col{
    display: flex;
    height: 22vh;
    width: 30%;
    padding: 0 1rem;
    /* border: 2px solid red; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    transition: background-color .2s ease-in-out;
    position: relative;
    overflow: hidden;
    transition: color .3s ease-out;
    div{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #c5ff25;
        transition: opacity .3s ease-out;
    }
    span{
        position: relative;
        z-index: 1;
    }
    &:hover{
        color: #fff;
        div{
            opacity: 0;
        }
    }
}
#col-1{
    background-image: url(card_1.avif);
}
#col-2{
    background-image: url(col_2.webp);
}
#col-3{
    background-image: url(col_3.jpg);
}

#footer{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    position: relative;
    height: 60vh;
    background-image: linear-gradient(to top right, #c5ff25, #348700);
    padding: 5rem 7rem;
    & > img{
        width: 20%;
        height: 100%;
        /* border: 2px solid red; */
        object-fit: cover;
        position: absolute;
        top: 2rem;
        left: 0;
        z-index: -1;
    }
}
#foot-row-1{
    display: flex;
    width: 100%;
    height: 70%;
    /* border: 2px solid red; */
    gap: 3rem;
    &>*{
        /* border: 2px solid red; */
    }
    img{
        /* border: 2px solid red; */
        height: 70%;
        transition: scale .3s ease-out;

        &:hover {
            cursor: pointer;
            scale: .9;
        }
    }
}
.links{
    width: 30%;
    list-style: none;
    li{
        text-transform: uppercase;
        font-size: 30px;
        line-height: 50px;
        font-weight: 900;
        transition: color .2s ease-in-out;
        &:hover{
            color: #fff;
            cursor: pointer;
        }
    }
}
#link-1{
    width: 40%;
}
#address{
    text-transform: uppercase;
    width: 30%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    span{
        line-height: 25px;
    }
    h4{
        margin-top: 5px;
        font-size: 20px;
        transition: color .2s ease-in-out;
        &:hover{
            color: #fff;
            cursor: pointer;
        }
    }
    strong{
        transition: color .2s ease-in-out;
        &:hover{
            color: #fff;
            cursor: pointer;
        }
    }
}

#foot-row-2{
    /* border: 2px solid red; */
    height: 20%;
    display: flex;
    align-items: center;
    gap: 1rem;
    svg{
        /* border: 2px solid red; */
        width: 35px;
        height: 70%;
        transition: color .2s ease-in-out;
        &:hover{
            color: #fff;
            cursor: pointer;
        }
    }
}
#foot-row-3{
    /* border: 2px solid red; */
    margin-top: 5rem;
    font-weight: 500;
    span{
        transition: color .2s ease-in-out;
        &:hover{
            color: #fff;
            cursor: pointer;
        }
    }
}


